<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <main>
        <div class="todo-container">
            <h1><%=item.taskName %></h1>
            <div class="container body-container">
              </br><b>Date:</b> <%=item.date%>
              </br><b>Status:</b> <%=item.status %>
              </br><b>Priority:</b> <%=item.priority%>
              </br><b>Notes:</b> <%=item.notes%></br>
              </br>
              <a href="/pendulum/<%=item._id%>/edit"><button class="user-info edit">EDIT</button></a>
              <a href="/pendulum"><button class="user-info edit">TODO LIST</button></a>
            </div>
          </div>
    </main>
</body>
</html>